<!DOCTYPE html>
<html lang="en">
{% extends "module.html" %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block cs %}
    {{ super()}}
    {% endblock cs %}
</head>
<body>
{% block border %}
{{super()}}
{% endblock border %}
{% block content %}
{{ super() }}
        <div class="col-sm-9">
            <div class="category shadow-small">
                <div class="category-header text-center">
                    <div class="category-header-title">这里啥都没有哦</div>
                </div>

            </div>
        </div>
        {% endblock content %}
               {% block right %}
            {{super()}}
                {% block latestblog %}
        {% endblock latestblog %}
        {% endblock right %}

<!--footer-->
{% block footer %}
{{super()}}
{% endblock footer %}
</body>
</html>