<!DOCTYPE html>
<html lang="en">
{% extends "module.html" %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block cs %}
    {{ super()}}
    {% endblock cs %}
</head>
<body>

{% block border %}
{{super()}}
{% endblock border %}
{% block content %}
{{ super() }}
        <div class="col-sm-9 h1000">
            <div class="archive shadow-small">
                <div class="archive-header text-center">
                    <div class="archive-header-title"><span class="border-bottom">About Me</span></div>
                </div>
                 <div class="about-content" >
                     <div class="about-item">.........</div>
                 </div>
                <!--提交评论-->
                <div class="archive-header margin-tb-large border-top">
                    <div class="comment-header-title margin-t-normal" id="comment">评论</div>
                    <div class="comment-body">
                        <form action="#" class="form">
                            <div class="row">
                                <div class="col-sm-2 text-center">
                                    <img src="http://images.kudaompq.top/20210812230344.jpg" alt="" class="rounded-circle" style="width: 50px">
                                </div>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">昵称</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="必填" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">邮箱</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="必填" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="5"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a href="javascript:void(0);" onclick="onloadFile()"><i class="fa fa-image"></i></a>
                                            <input type="file" style="display: none" name="file" id="file">
                                            <button type="submit" class="btn btn-sm btn-light float-right">发送</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--评论list-->
                <div class="archive-header margin-tb-large">
                    <div class="comment-header-title margin-t-normal">3条评论</div>
                    <div class="comment-reply-body">
                        <div class="comment-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="http://images.kudaompq.top/20210812230344.jpg" alt="" class="rounded-circle" style="width: 40px;">
                                </div>
                                <div class="col-sm-10">
                                    <div class="margin-ml-normal">
                                        kudaompq<span class="font-size-sm">&nbsp;&nbsp;&nbsp;2021-8-13</span>
                                        <a href="#comment" class="float-right"><i class="fa fa-comment-o"></i></a>
                                    </div>
                                    <div class="margin-tb-normal margin-ml-normal">
                                        <p>
                                            间歇性踌躇满志，持续性混吃等死怎么治
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="http://images.kudaompq.top/20210812230344.jpg" alt="" class="rounded-circle" style="width: 40px;">
                                </div>
                                <div class="col-sm-10">
                                    <div class="margin-ml-normal">
                                        kudaompq<span class="font-size-sm">&nbsp;&nbsp;&nbsp;2021-8-13</span>
                                        <a href="#comment" class="float-right"><i class="fa fa-comment-o"></i></a>
                                    </div>
                                    <div class="margin-tb-normal margin-ml-normal">
                                        <p>
                                            间歇性踌躇满志，持续性混吃等死怎么治
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-t-normal">
                                <div class="col-sm-2">
                                    <img src="http://images.kudaompq.top/20210812230344.jpg" alt="" class="rounded-circle" style="width: 30px;">
                                </div>
                                <div class="col-sm-10">
                                    <div class="margin-ml-normal">
                                        kudaompq<span class="font-size-sm">&nbsp;&nbsp;&nbsp;2021-8-13</span>
                                        <a href="#comment" class="float-right"><i class="fa fa-comment-o"></i></a>
                                    </div>
                                    <div class="margin-t-sm margin-ml-normal">
                                        <p class="font-size-sm">回复@kudaompq</p>
                                    </div>
                                    <div class="margin-tb-normal margin-ml-normal">
                                        <p>
                                            混吃等死就行
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="http://images.kudaompq.top/20210812230344.jpg" alt="" class="rounded-circle" style="width: 40px;">
                                </div>
                                <div class="col-sm-10">
                                    <div class="margin-ml-normal">
                                        kudaompq<span class="font-size-sm">&nbsp;&nbsp;&nbsp;2021-8-13</span>
                                        <a href="#comment" class="float-right"><i class="fa fa-comment-o"></i></a>
                                    </div>
                                    <div class="margin-tb-normal margin-ml-normal">
                                        <p>
                                            间歇性踌躇满志，持续性混吃等死怎么治
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
       {% endblock content %}

        <!--  bar  -->
        {% block right %}
            {{super()}}
        {% block latestblog %}
        {% endblock latestblog %}
        {% endblock right %}

<!--footer-->
{% block footer%}
{{ super()}}
{% endblock footer%}

</body>
</html>