<!DOCTYPE html>
<html lang="en">
{% extends "module.html" %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block cs %}
    {{ super()}}
    {% endblock cs %}
</head>
<body>

{% block border %}
{{super()}}
{% endblock border %}
{% block content %}
{{ super() }}
        <!--    博客列表-->
        <div class="col-sm-9">
            <div class="article-body shadow-small">
                <div class="article-header">
                    <h1 class="article-title">{{blog.blogname}}</h1>
                    <div class="article-meta">
                        <span class="article-category"><a href="#">{{blog.sorts.name}}</a></span>
                        <span class="article-date"><a href="#">{{blog.create_time}}</a></span>
                        <span class="article-link"><a href="#">4 评论</a></span>
                        <span class="article-link"><a href="#">588 阅读</a></span>
                        <span class="views-count"><a href="#">{{blog.stars}} 点赞</a></span>

                    </div>
                </div>
                <div class="article-content clearfix">
                {{blog.content}}

                </div>
            </div>
        </div>
        {% endblock content %}

        <!--  bar  -->
        {% block right %}
            {{super()}}

            {%block stars %}
            {%endblock stars %}
                {% block sort %}
                {% endblock sort %}
            {% block tag %}
            {% endblock tag %}
        {% endblock right %}


<!--footer-->
{% block footer %}
{{super()}}
{% endblock footer %}


</body>
</html>