<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% block cs %}
	<title>博客后台</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- The styles -->
	<style type="text/css">
	  body {
		padding-bottom: 40px;
	  }
	  .sidebar-nav {
		padding: 9px 0;
	  }
	</style>
    <link href="{{url_for('static', filename='css/bootstrap-cerulean.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/kudaompq.css')}}">
    <link href="{{url_for('static', filename='css/bootstrap-responsive.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/charisma-app.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/jquery-ui-1.8.21.custom.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/fullcalendar.css')}}" rel='stylesheet'>
	<link href="{{url_for('static', filename='css/fullcalendar.print.css')}}" rel='stylesheet'  media='print'>
	<link href="{{url_for('static', filename='css/chosen.css')}}" rel='stylesheet'>
	<link href="{{url_for('static', filename='css/uniform.default.css')}}" rel='stylesheet'>
	<link href="{{url_for('static', filename='css/colorbox.css')}}" rel='stylesheet'>
	<link href="{{url_for('static', filename='css/jquery.cleditor.css')}}" rel='stylesheet'>
	<link href="{{url_for('static', filename='css/jquery.noty.css')}}" rel='stylesheet'>
	<link href="{{url_for('static', filename='css/noty_theme_default.css')}}" rel='stylesheet'>
	<link href="{{url_for('static', filename='css/elfinder.min.css')}}" rel='stylesheet'>
	<link href="{{url_for('static', filename='css/elfinder.theme.css')}}" rel='stylesheet'>
	<link href="{{url_for('static', filename='css/jquery.iphone.toggle.css')}}" rel='stylesheet'>
	<link href="{{url_for('static', filename='css/opa-icons.css')}}" rel='stylesheet'>
	<link href="{{url_for('static', filename='css/uploadify.css')}}" rel='stylesheet'>
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}">
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<!--	<script src="{{url_for('static', filename='js/jquery-1.7.2.min.js')}}"></script>-->
<!--	&lt;!&ndash; jQuery UI &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/jquery-ui-1.8.21.custom.min.js')}}"></script>-->
<!--	&lt;!&ndash; transition / effect library &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/bootstrap-transition.js')}}"></script>-->
<!--	&lt;!&ndash; alert enhancer library &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/bootstrap-alert.js')}}"></script>-->
<!--	&lt;!&ndash; modal / dialog library &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/bootstrap-modal.js')}}"></script>-->
<!--	&lt;!&ndash; custom dropdown library &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/bootstrap-dropdown.js')}}"></script>-->
<!--	&lt;!&ndash; scrolspy library &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/bootstrap-scrollspy.js')}}"></script>-->
<!--	&lt;!&ndash; library for creating tabs &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/bootstrap-tab.js')}}"></script>-->
<!--	&lt;!&ndash; library for advanced tooltip &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/bootstrap-tooltip.js')}}"></script>-->
<!--	&lt;!&ndash; popover effect library &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/bootstrap-popover.js')}}"></script>-->
<!--	&lt;!&ndash; button enhancer library &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/bootstrap-button.js')}}"></script>-->
<!--	&lt;!&ndash; accordion library (optional, not used in demo) &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/bootstrap-collapse.js')}}"></script>-->
<!--	&lt;!&ndash; carousel slideshow library (optional, not used in demo) &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/bootstrap-carousel.js')}}"></script>-->
<!--	&lt;!&ndash; autocomplete library &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/bootstrap-typeahead.js')}}"></script>-->
<!--	&lt;!&ndash; tour library &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/bootstrap-tour.js')}}"></script>-->
<!--	&lt;!&ndash; library for cookie management &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/jquery.cookie.js')}}"></script>-->
<!--	&lt;!&ndash; calander plugin &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/fullcalendar.min.js')}}"></script>-->
<!--	&lt;!&ndash; data table plugin &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>-->

<!--	&lt;!&ndash; chart libraries start &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/excanvas.js')}}"></script>-->
<!--	<script src="{{url_for('static', filename='js/jquery.flot.min.js')}}"></script>-->
<!--	<script src="{{url_for('static', filename='js/jquery.flot.pie.min.js')}}"></script>-->
<!--	<script src="{{url_for('static', filename='js/jquery.flot.stack.js')}}"></script>-->
<!--	<script src="{{url_for('static', filename='js/jquery.flot.resize.min.js')}}"></script>-->
<!--	&lt;!&ndash; chart libraries end &ndash;&gt;-->

<!--	&lt;!&ndash; select or dropdown enhancer &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/jquery.chosen.min.js')}}"></script>-->
<!--	&lt;!&ndash; checkbox, radio, and file input styler &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/jquery.uniform.min.js')}}"></script>-->
<!--	&lt;!&ndash; plugin for gallery image view &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/jquery.colorbox.min.js')}}"></script>-->
<!--	&lt;!&ndash; rich text editor library &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/jquery.cleditor.min.js')}}"></script>-->
<!--	&lt;!&ndash; notification plugin &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/jquery.noty.js')}}"></script>-->
<!--	&lt;!&ndash; file manager library &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/jquery.elfinder.min.js')}}"></script>-->
<!--	&lt;!&ndash; star rating plugin &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/jquery.raty.min.js')}}"></script>-->
<!--	&lt;!&ndash; for iOS style toggle switch &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/jquery.iphone.toggle.js')}}"></script>-->
<!--	&lt;!&ndash; autogrowing textarea plugin &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/jquery.autogrow-textarea.js')}}"></script>-->
<!--	&lt;!&ndash; multiple file upload plugin &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/jquery.uploadify-3.1.min.js')}}"></script>-->
<!--	&lt;!&ndash; history.js for cross-browser state change on ajax &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/jquery.history.js')}}"></script>-->
<!--	&lt;!&ndash; application script for Charisma demo &ndash;&gt;-->
<!--	<script src="{{url_for('static', filename='js/charisma.js')}}"></script>-->

{% endblock cs%}
</head>
{% block top%}
<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="index.html"> <img alt="Charisma Logo" src="{{url_for('static', filename='img/logo20.png')}}" /> <span>keyfall</span></a>

				<!-- user dropdown starts -->
				<div class="btn-group pull-right" >
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-user"></i><span class="hidden-phone"> keyfall</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Profile</a></li>
						<li class="divider"></li>
						<li><a href="login.html">Logout</a></li>
					</ul>
				</div>

			</div>
		</div>
	</div>

{% endblock top%}

    {% block sidebar %}
	<!-- topbar ends -->
		<div class="container-fluid">
		<div class="row-fluid">
			<!-- left menu starts -->
			<div class="span2 main-menu-span">
				<div class="well nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li class="nav-header hidden-tablet">Main</li>
						<li><a class="ajax-link" href="{{url_for('blog.backqueryall',page=1)}}"><i class="icon-home"></i><span class="hidden-tablet"> 博客</span></a></li>
						<li><a class="ajax-link" href="{{url_for('sort.backqueryall',page=1)}}"><i class="icon-eye-open"></i><span class="hidden-tablet"> 分类</span></a></li>
						<li><a class="ajax-link" href="{{url_for('tag.backqueryall',page=1)}}"><i class="icon-edit"></i><span class="hidden-tablet"> 标签</span></a></li>
					</ul>
				</div><!--/.well -->
			</div><!--/span-->
			<!-- left menu ends -->
    {% endblock sidebar %}

            {% block rightcontent%}
           {% endblock rightcontent%}


{% block footer %}
<!--footer-->
<div class="container footer" style="text-align: center;font-size: 21px;">
    <div class="row">
        <div class="col-sm-12 text-center margin-tb-large">
            <p class="footer-copyright">©2022 - 2023 By Z-All.Keyfall</p>
            <p class="footer-copyright">thanks for Kudaompq</p>
        </div>
    </div>
</div>
{% endblock footer %}


</body>
</html>